<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<title>Prueba</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="todo.js"></script>
	</head>
	<body>
		<div ng-app="todoApp">
			<div ng-controller="TodoController">
				<select ng-options="item.label for item in libros track by item.id" ng-model="selected"></select>
				<input type="text" ng-model="Texto">
				<br/>
				<button type="button" ng-click="buscar()">Ver</button>
				<hr>
				<label>{{Sufijo}} {{Texto}}</label>
				<p ng-repeat="x in Verso.chapter">
					{{x.verse_nr}}: {{x.verse}}
				</p>
			</div>
		</div>
	</body>
</html>